<h2>タスク管理アプリ</h2>
<div>
  {{ now | async | date:'yyyy年MM月dd日 HH:mm:ss' }}
</div>
<div>
  <input [(ngModel)]="title" placeholder="タスクの名前">
  <button (click)="add(title, timeLimit); title=''">追加</button>
</div>
<div>
  <label>
    有効期限：
    <input type="checkbox" [(ngModel)]="test">
  </label>
  <ng-container *ngIf="test">
    <ng2-flatpickr [(ngModel)]="timeLimit" [config]="options"></ng2-flatpickr>
  </ng-container>
  {{timeLimit | json}}
</div>
<div>
  <label>
    タグ検索: 
    <input #searchKey (keyup)="search(searchKey.value)" placeholder="タグの名前">
  </label>
</div>
<ul>
  <li 
  *ngFor="let task of tasks;index as i"
  (click)="onSelectedTask(task)"
  [class.selected]="selectedTask === task"
  >
    <span>
      No. {{i + 1}}
    </span>
    <span>
      {{task.taskName}}
    </span>
    <button (click)="delete(task);">
      x
    </button>
    <button (click)="openDialog(task);">
      ?
    </button>
    <button (click)="done(task);">
      完了
    </button>
    <ng-container *ngIf="task.timeLimit">
      <div>
        有効期限:
        {{timeLimit | taskDate}}
      </div>
      <div *ngIf="timeLimit > now">
        timelimit!!
      </div>
    </ng-container>
    <ng-container *ngIf="task.taskTag">
      <ul>
        <li *ngFor="let tag of task.taskTag">
          {{tag}}
        </li>
      </ul>
    </ng-container>
  </li>
</ul>
<app-task-detail 
[task]="selectedTask"
></app-task-detail>